.welcome-message{
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

.message{
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}